.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.reset_button {
  align-self: flex-start;
}
